<h1>Tweet #<%= @tweet.id %></h1>
<h4><%= @tweet.content %></h4>
<p>Click here to edit your tweet.</p>
<br>
<form action="/tweets/<%= @tweet.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Edit Tweet">
</form>
<br>
<p>Or <a href="/tweets">Click here</a> to see all of your tweets.</p>
<br>
<p>Or click here to delete your tweet.</p>
<br>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>